
<%= link_to "Back to List ", action: 'index', class: "back-link"  %>

<div class ="Topics New">
	<h2> Create Topics</h2>

	<%= form_for(:topic1s, url:  {action: 'create'}) do |t| %>

	  <table summary="Topic form fields">

		<tr>
			<th> Name </th>
			<td> <%= t.text_field(:name)  %></td>
		</tr>
		
		<tr>
			<th> Position </th>
			<td> <%= t.text_field(:position)  %></td>
		</tr>
		
		<tr>
			<th> Visible? </th>
			<td> <%= t.text_field(:visible)  %></td>
		</tr>
	</table>
	<div class = "form-button">
		<%= submit_tag("Create Topic") %>
	</div>
	<% end %>	
</div>
		


		
		     	