<% @page1_title="Topics" %>

<%= link_to "Back to List ", action: 'index', id: @topic1s.id, class: "back-link"  %>

<div class ="Topics Show">
	<h2> Show Topics</h2>

	
	<table summary="Topic detail view">

		<tr>
			<th> Name </th>
			<td> <%= @topic1s.name  %></td>
		</tr>
		
		<tr>
			<th> Position </th>
			<td> <%= @topic1s.position %></td>
		</tr>
		
		<tr>
			<th> Visible? </th>
			<td> <%= @topic1s.visible ? 'true' : 'false'  %></td>
		</tr>
		
		<tr>
			<th> Created at </th>
			<td> <%= @topic1s.created_at %></td>
		</tr>
		
		<tr>
			<th> Updated at </th>
			<td> <%= @topic1s.updated_at %></td>
		</tr>

	</table>
</div>
		


		
		     	